<main class="patients-show">
  <div class="row">
    <div class="col-md-8">
      <% if @patient.measures.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Num</th>
              <th>Valor</th>
              <th>Sensor</th>
              <th>Realizado el</th>
            </tr>
          </thead>
          <tbody>
            <% @patient.measures.order(:created_at).each_with_index do |measure, index| %>
              <tr>
                <td><%= index %></td>
                <td><%= measure.value %></td>
                <td><%= measure.sensor.name %></td>
                <td><%= measure.created_at.to_s :short %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-info">
          No hay mediciones para mostrar
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Datos del paciente
        </div>
        <ul class="list-group">
          <li class="list-group-item">Nombre: <%= @patient.name %></li>
          <li class="list-group-item">Email: <%= @patient.email %></li>
          <li class="list-group-item">Teléfono: <%= @patient.phone %></li>
          <li class="list-group-item">Descripción: <%= @patient.description %></li>
          <li class="list-group-item">Creado el <%= @patient.created_at.to_s :long %></li>
          <li class="list-group-item">Mediciones: <%= @patient.measures.count %></li>
          <li class="list-group-item">Última medición: <%= @patient.measures.order(:created_at).last.try { |m| m.created_at.to_s :long } || '-' %></li>
        </ul>
      </div>
    </div>
  </div>
</main>